<?xml version="1.0" encoding="utf-8"?>
<!-- Launch the servo move via keyboard command node, and, optionally, the i2c_pwmboard node -->

<launch>
    <!-- Optional command line argument to also run i2c_pwmboard, if running on a rpi  -->
    <arg name="run_i2c_pwmboard" default="false"/>

    <!-- Defining the node and executable and publishing the output on terminal-->
    <node name="servo_move_keyboard_node" pkg="servo_move_keyboard" type="servoMoveKeyboard.py" output="screen">
    </node>

    <!-- If run_i2c_pwmboard is true, also run the i2c_pwm_board node -->
    <node if="$(arg run_i2c_pwmboard)" name="i2cpwm_board_node" pkg="i2cpwm_board" type="i2cpwm_board" output="screen">                                           │walk: Start walk mode and keyboard motion control
    </node>  
</launch>
